<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project3.www.AutismAtEase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.project3.www.AutismAtEase.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.project3.www.AutismAtEase.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.project3.www.AutismAtEase.click" />
        <activity android:name="com.project3.www.AutismAtEase.trace" />
        <activity android:name="com.project3.www.AutismAtEase.guess" />
        <activity android:name="com.project3.www.AutismAtEase.forgotpass" />
        <activity android:name=".QuizActivity">
            <intent-filter>
                <action android:name="android.intent.action.QuizActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Result" />

        <activity
            android:name="com.project3.www.AutismAtEase.Register"
            android:label="@string/register_banner">
            <intent-filter>
                <action android:name="android.intent.action.Register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>